<!DOCTYPE html>
<html>
  <head>
    <title>DultimaBlog | <%= content_for(:title) || "Posts" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="bg-[#2248ff] text-white p-5 shadow-lg">
        <div class="container mx-auto flex justify-center items-center">
          <div class="flex flex-col items-center">
            <a href="/" class="font-bold text-2xl">
              <%# quero renderizar uma imagem que está no assets images %>
              <%= image_tag 'isologo-laranja.svg', class: 'h-10 md:h-12' %>
            </a>
            <span class="font-bold text-xs">Newsletter do <span class="text-[#ffbf00]">D'</span></span>
          </div>
          <div class="flex  gap-2 justify-center items-center">
            <% if authenticated? %>
              <%= link_to 'Novo Post', new_post_path, class: "font-bold text-xl cursor-pointer" %>
              <%= button_to 'Sair', session_path, method: :delete, data: { turbo_method: :delete }, class: "font-bold text-xl cursor-pointer" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
